<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create allow</title>
</head>
<body>
<form action="#" th:action="@{/allow-update}" th:object="${allow}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="allowName">Allow name</label>
    <input type="text" th:field="*{allowName}" id="allowName" placeholder="Allow Name">
    <br/>
    <input type="submit" value="Update Allow">
</form>
</body>
</html>