<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create position</title>
</head>
<body>
<form action="#" th:action="@{/position-create}" th:object="${position}" method="post">
    <label for="positionName">Position name</label>
    <input type="text" th:field="*{positionName}" id="positionName" placeholder="Position Name">
    <label for="allowId">Allow id</label>
    <input type="number" th:field="*{allowId}" id="allowId" placeholder="Allow Id">
    <input type="submit" value="Create Position">
</form>
</body>
</html>