<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create allow</title>
</head>
<body>
<form action="#" th:action="@{/position-update}" th:object="${position}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="positionName">position name</label>
    <input type="text" th:field="*{positionName}" id="positionName" placeholder="Position Name">
    <br/>
    <label for="allowId">Allow id</label>
    <input type="number" th:field="*{allowId}" id="allowId" placeholder="Allow Id">
    <br/>
    <input type="submit" value="Update Position">
</form>
</body>
</html>