<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Positions</title>
</head>
<body>
<div th:switch="${positions}">
    <h2 th:case="null">No position found!</h2>
    <div th:case="*">
        <h2>Positions</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Position Name</th>
                <th>Allow Id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="position : ${positions}">
                <td th:text="${position.id}"></td>
                <td th:text="${position.positionName}"></td>
                <td th:text="${position.allowId}"></td>
                <td><a th:href="@{position-update/{id}(id=${position.id})}">Edit</a></td>
                <td><a th:href="@{position-delete/{id}(id=${position.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/position-create">Create position</a></p>
</div>
</body>
</html>