<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="firstName">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="age">
    <br/>
    <label for="email">email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <br/>
    <label for="createDate">create Date</label>
    <input type="text" th:field="*{createDate}" id="createDate" placeholder="create date">
    <br/>
    <label for="editDate">Edit Date
    </label>
    <input type="text" th:field="*{editDate}" id="editDate" placeholder="edit date">
    <br/>
    <input type="submit" value="Update User">
</form>
</body>
</html>